<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let registro of registros" [class.ingreso]="registro.tipo === 'Ingreso'"
    [class.egreso]="registro.tipo === 'Egreso'">
    <ion-card-content class="registro-card-content">
      <div class="registro-info">
        <h3>{{ registro.nombre }}</h3>
        <p class="fecha-tipo">
          <small>{{ registro.fecha | date:'dd/MM/yyyy HH:mm:ss' }}</small>
          <span class="tipo-badge">{{ registro.tipo }}</span>
        </p>
        <p class="observacion">{{ registro.observacion }}</p>
      </div>

      <div class="registro-actions">
        <ion-button fill="clear" color="medium" (click)="editar(registro)" size="small">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="eliminar(registro)" size="small">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>